:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(159.02deg, #00B894 14.25%, #00DFA2 56.45%, #C4E538 86.14%);
}
