<div class="input-container">
  <label for="input1">Email</label>
  <input type="text" id="input1" placeholder="Seu endereço de email" [(ngModel)]="email"/>
</div>

<div class="input-container">
  <label for="input2">Senha</label>
  <input type="password" id="input2" placeholder="Sua senha" [(ngModel)]="pswd"/>
</div>

<div class="button-container">
  <button (click)="login()">Entrar</button>
</div>

<p class="signup-prompt">
  Não tem uma conta? <a [routerLink]="['/register']" href="#" class="signup-link">Inscreva-se</a>.
</p>

<h1 class="gradient-text">AÇO BRASIL</h1>
